.contact-content{
    padding: 4em 2em;
    padding-top: 8em;
    display: flex;
    flex-direction: column;
    gap: 4em;
}


.contact-content-top{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.contact-content-top h5{
    color: var(--orng);
    text-align: center;
}
.contact-content-top h1{
    color: var(--font-clr);
    text-align: center;
    font-size: 4rem;
}
.contact-content-top p{
    text-align: center;
}


.contact-content-adress{
    width: 100%;
}
.contact-content-adress > div{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.contact-content-info{
    display: flex;
    align-items: center;
    gap: 1em;
}
.contact-content-info > div{
    width: 33.33%;
    height: 100%;
    background: var(--orng);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
}
.contact-content-info > div span{
    font-size: 1.5rem;
    color: white;
}
.contact-content-info > div h4{
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}
.contact-content-info > div p{
    font-size: 1rem;
    color: rgb(233, 233, 233);
}
.contact-content-info > div button{
    width: max-content;
    padding: 1em 2em;
    border: 1px solid white;
    color: white;
    background: transparent;
}


@media only screen and (max-width: 980px){
    
}

@media only screen and (max-width: 480px){
    .contact-content{
        padding: 1em;
        padding-top: 8em;
    }
    .contact-content h1{
        font-size: 2rem;
        text-align: left;
    }
    .contact-content-top h5{
        text-align: left;
    }
    .contact-content-top p{
        font-size: 1.2rem;
        text-align: left;
    }

    .contact-content-info{
        flex-direction: column;
    }
    .contact-content-info > div{
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    
}