.book-message{
    background:black;
    padding: 4em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.book-message h1{
    color: white;
    font-size: 3rem;
    font-weight: 500;
}
.book-message p{
    color: white;
    line-height: 1.2em;
}
.book-message button{
    background: white;
    color: black;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 980px){
    
}

@media only screen and (max-width: 480px){
    .book-message{
        padding: 4em 1em;
    }
    .reviews{
        flex-direction: column;
        height: max-content;
    }
    .reviews-content{
        width: 100%;
        padding: 1em;
    }
    .reviews-content > div h3{
        font-size: 3rem;
    }
    .reviews-content p{
        font-size: 1rem;
    }
    .reviews-img{
        width: 100%;
        height: 50vh;
    }
    .review-icon-img{
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {

}