.book-message{
    width: 100%;
    position: relative;
    padding: 4em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.book-message-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
}
.book-message-img img{
    height: 100%;
    object-fit: cover;
}


.book-message-content{
    position: relative;
    z-index: 2;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.book-message h1{
    color: var(--font-clr);
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1em;
}
.book-message p{
    color: white;
    line-height: 1.2em;
}
.book-message button{
    background: var(--blue-dark);
    color: white;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 980px){
    
}

@media only screen and (max-width: 480px){
    .book-message{
        padding: 4em 1em;
        flex-direction: column-reverse;
    }
    .book-message-content{
        width: 100%;
    }
    .book-message-img{
        position: relative;
    }
    .book-message-img img{
        height: 300px;
    }
}

@media screen and (min-width: 1440px) {

}